#cat_anime{
	background: url('../../images/category_anime.png');
	background-size: cover; 
}
.category-link:hover>#cat_anime{
	background: url('../../images/category_anime_hover.png');
	background-size: cover;
}
#cat_games{
	background: url('../../images/category_games.png');
	background-size: cover; 
}
.category-link:hover>#cat_games{
	background: url('../../images/category_games_hover.png');
	background-size: cover;
}
#cat_internetz{
	background: url('../../images/category_internetz.png');
	background-size: cover; 
}
.category-link:hover>#cat_internetz{
	background: url('../../images/category_internetz_hover.png');
	background-size: cover;
}
#cat_life{
	background: url('../../images/category_life.png');
	background-size: cover; 
}
.category-link:hover>#cat_life{
	background: url('../../images/category_life_hover.png');
	background-size: cover;
}
#cat_TV{
	background: url('../../images/category_TV.png');
	background-size: cover; 
}
.category-link:hover>#cat_TV{
	background: url('../../images/category_TV_hover.png');
	background-size: cover;
}
#cat_music{
	background: url('../../images/category_music.png');
	background-size: cover; 
}
.category-link:hover>#cat_music{
	background: url('../../images/category_music_hover.png');
	background-size: cover;
}
#cat_tech{
	background: url('../../images/category_tech.png');
	background-size: cover; 
}
.category-link:hover>#cat_tech{
	background: url('../../images/category_tech_hover.png');
	background-size: cover;
}
#cat_travel{
	background: url('../../images/category_travel.png');
	background-size: cover; 
}
.category-link:hover>#cat_travel{
	background: url('../../images/category_travel_hover.png');
	background-size: cover;
}