/* Responsive Design -------------------------------------------------------------------------------------- */
@media screen and (max-height: 800px){
	#categoriesUL, #categoriesPage em{display:none}
	
}
@media screen and (max-width: 1000px) { /* Screen less then 900px (iPad) -------------------- */
	body{ 
		width: auto;
		font-size: 18px;
		line-height: 24px;
	}
	aside{ /* sidebar ------------*/
		width: 20%;
		font-size: 15px;
		line-height: 26px;
	}
	#side_logo{ margin: 0px 10px -108px 10px }
	#side_logo img{
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
	}
	nav{ 
		border-radius: 0;
		border-left: none;
	}
	#mascot{ 
		margin-left: -15px;
		width: 100%;
	}
	#categoriesUL, #categoriesPage em{display:none}
	section, #whiteback{ /* posts --------------------------*/
		margin-left: 20%;
		width: 80%;
		border-right: none;
	}
	article img{
		max-width: 100% !important;
		height: auto !important;
	}
	h2{
		font-size: 25px;
  		line-height: 27px;
	}
	h3.pagetitle{
		font-size: 20px;
	}
	.date {
		font-size: 17px;
	}
	p.page_explain{
		font-size: 16px;
		padding: 0;
	}
	.category-link{ /* categories page ---------*/
		margin: 15.25px 1% 0 1%;
		line-height: 20px;
	}
	.category-link p{
		padding-left:0;
		font-size: 15px;
	}
	.cat_image{
		margin: 3% 10px 3% 0;
	}
	#category-title{font-size: 20px}
	.appDesc{ /* Social Media Apps -------------*/
		font-size: 11px;
	}
	#mal{ font-size: 10px }
	.archives_list{font-size:17px}
	.background#friends_bg, .background#archive_bg{ width: 30% }

}
@media screen and (max-width: 640px) { /* Screen less then 740px (iPhone) ------------------- */
  	html{ padding: 15px 0 0 0 }
  	body{ 
    	font-size: 16px;
 	  	line-height: 22px;
  		padding-bottom: 0;
  	}
	ul{ padding-left: 20px }
	#header, #mascot, .wp-pagenavi, .wp-pagenavi a
	{display: none}
	#side_logo{ 
		margin-bottom: 5px;
		margin-left: auto;
		margin-right: auto;
		width: 270px;
	}
	#side_logo img{ 
		margin: 0;
		width: 100px;
		height: auto;
	}
	#side_logo h1{
		visibility: visible;
		display: inline;
		height: 20px;
		font-size: 28px;
		text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
		font-weight: 500;
	}
  	aside {
  		padding: 0;
		margin: 0;
		border-radius: 0;
  	 	position: relative;
   		width: 100%;
		border-bottom: 1px solid #ffc29a;
  	}
  	nav{
		height: 90px;
		border: none;
		border-radius: 0px;
		border-top: 1px solid #ffc29a;
		margin-top: 0;
		clear: both;
		padding: 20px 0 12px 0;
		-webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.085);
		   -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.085);
		        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.085);
  	}
  	aside nav ul li, #mobile_page_navi li{
		 display: inline;
		 padding: 0;
		 border-top: 1px solid #FFF;
	}
  	aside nav ul li a {
    	float: left;
    	padding: 7px 0;
		width: 50%;
    	line-height: 30px;
		font-size: 19px;
		font-weight: bold;
		text-align: center;
		border: none;
	}
	section{
		width: 100%;
	 	margin: 0;
		border: 0;
 	}
 	#whiteback{
		visibility: hidden;
		display: none;
	}
  	article, footer {
    	border-left:0;
    	border-right:0;
    	clear:both;
    	margin-left:0;
    	padding-right:5px;
    	padding-left:5px;
  	}
  	article { overflow-x: hidden }
	h3 { font-size: 19px }
	.posttitle{
		margin-top: 14px;
		padding: 7px 0;
	}
	.more-link{ width: 150px }
	.post-metadata{
		font-size: 10px;
		line-height: 15px;
	}
	.category-link{ width: 95% }
	.cat_image { width: 17% }
	.background#friends_bg, .background#archive_bg{ width: 100% }
	#mal, #niconico{ font-size: 8px }
	#mobile_page_navi{
		visibility: visible;
		height: 44px;
		padding: 0;
		clear: both;
		background: #ffc29a;
	}
	#mobile_page_navi li a{
    	float: right;
    	padding: 7px 0;
		width: 50%;
    	line-height: 30px;
		font-size: 19px;
		font-weight: bold;
		text-align: center;
		border: none;
		background: #ffc29a;
	}
	footer p {
		padding: 5px 10px;
	}
}


/* the end ------------------------------------------------------------------------------------------------ */